:host {
  .search-results-container {
    table {
      th{
        border-bottom: 1px solid #bbb;
        color: #333;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        max-width: 350px;
        min-width: 120px;
      }
      th:not(:first-child),
      td:not(:first-child) {
        text-align: center;
      }
      tr {
        td {
          color: #666;
          padding: 3px;
          position:relative;

          i {
            cursor: pointer;
            font-size: 11px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 25px;
          }

          i.fa-pen {
            color: #22B66B;
          }

          i.fa-trash {
            color: #E25642;
          }

          i.fa-eye {
            color: #239BCC;
          }
        }

        .actions {
          width: 85px;
        }
      }
    }

    button {
      background: #239BCC;
    }
  }
}
