:host {
  .search-results-container {
    .banner {
      span{
        color: #239BCC;
        font-size: 7em;
      }

      p {
        color: #666;
        font-style: italic;
      }
    }

    table {
      th{
        border-bottom: 1px solid #bbb;
        color: #333;
        cursor: pointer;
        font-size: 12px;
        height: 40px;
        line-height: nomral;
        max-width: 350px;
        min-width: 120px;
        padding: 0 30px 0 0;
        position: relative;

        i {
          height: 40px;
          line-height: 40px;
          margin: auto;
          position: absolute;
          right: 0;
          text-align: center;
          top: 0;
          width: 30px;
        }
      }
      th.sorted {
        i::before {
          content: "\f0dd";
        }
      }
      th.sorted.asc {
        i::before {
          content: "\f0de";
        }
      }

      th:not(:first-child),
      td:not(:first-child) {
        text-align: center;
      }
      tr {
        td {
          color: #666;
          padding: 3px;
          position:relative;

          i {
            cursor: pointer;
            font-size: 11px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            width: 25px;
          }

          i.fa-pen {
            color: #239BCC;
          }

          i.fa-trash {
            color: #E25642;
          }

          i.fa-eye {
            color: #239BCC;
          }
        }

        .actions {
          width: 85px;
        }
      }
    }

    button {
      background: #239BCC;
      border:none;
    }
  }
}
